.funta-bg {
    background-color: #E77200;
}

.funta-bg-light {
    background-color: #ff9225;
}

.funta-bg-light-50 {
    background-color: #ff9225b5;
}

.light-dark {
    background-color: #555555;
}